html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column-reverse;
  place-items: center;
  justify-content: center;
}

#sketcher {
  width: 650px;
  height: 650px;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  display: grid;
  border: 1px solid black;
}
.row {
  display: grid;
}
.tile {
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}

.toBlack {
  background-color: black;
}
